<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- 指定数据库驱动的jdbc驱动jar包的位置 -->
    <!-- 不再需要，因为 jar 包已经在 classpath 中
    <classPathEntry location="./mysql-connector-java-5.1.40.jar" />
    -->
<!--    <properties resource="application.yml"/>-->

    <classPathEntry location="C:/Users/mi/.m2/repository/mysql/mysql-connector-java/5.1.34/mysql-connector-java-5.1.34.jar"/>
    <context id="mysql" defaultModelType="flat" targetRuntime="com.mybatis.generator.TkMyBatis3Impl">
        <property name="jdbcType" value="false"/>
        <!-- 生成的 Java 文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 格式化 Java 代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="jdbcType" value="false"/>
        <!-- 格式化 XML 代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <property name="modelOnly" value="true"/>
        <plugin type="com.mybatis.generator.ServiceControllerPlugin" />
        <!-- 自定义注释生成器 -->
        <commentGenerator type="com.mybatis.generator.MySQLCommentGenerator">
            <property name="author" value="YangChao"/>
            <property name="dateFormat" value="yyyy/MM/dd"/>
        </commentGenerator>
        <!-- 配置数据库连接 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://10.110.5.22:3306/dv_db_dtgl_gz?useUnicode=true&amp;characterEncoding=utf-8" userId="${userId}"
                        password="1qaz@WSX">
            <!-- 设置 useInformationSchema 属性为 true -->
            <property name="useInformationSchema" value="true"/>
        </jdbcConnection>

        <!-- 数据表对应的model层  -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.example.demo.po" targetProject="${targetProject}src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- sql mapper 映射配置文件 -->
        <sqlMapGenerator targetPackage="mappers" targetProject="${targetProject}src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- mybatis3中的dao接口 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.demo.dao" targetProject="${targetProject}src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>


        <!--<table tableName="syt_quick_search"-->
               <!--domainObjectName="QuickSearch"-->
               <!--mapperName="QuickSearchDao"-->
               <!--enableCountByExample="false"-->
               <!--enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false"/>-->
        <table tableName="kqz_employee" domainObjectName="Employee" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"></table>

    </context>
</generatorConfiguration>